body{
margin:0;
font-family:'Arial',sans-serif;
background: radial-gradient(circle at top, #1a001f, #0b0010, #000);
color:white;
text-align:center;
overflow-x:hidden;
}

/* LOCK SCREEN */
#lockScreen{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
background: radial-gradient(circle at top, rgba(255,192,203,0.2), transparent);
}

.card{
background: rgba(255,255,255,0.08);
backdrop-filter: blur(12px);
padding:30px;
border-radius:20px;
box-shadow: 0 0 20px rgba(255,192,203,0.3);
animation: float 3s ease-in-out infinite;
}

@keyframes float{
0%,100%{transform:translateY(0);}
50%{transform:translateY(-10px);}
}

input{
padding:10px;
border:none;
border-radius:10px;
margin-top:10px;
outline:none;
}

button{
margin-top:10px;
padding:10px 20px;
border:none;
border-radius:10px;
background:#ff4d6d;
color:white;
cursor:pointer;
transition:0.3s;
}

button:hover{
transform:scale(1.05);
}

/* MAIN */
#mainContent{
padding:20px;
animation: fadeIn 1.5s ease;
}

@keyframes fadeIn{
from{opacity:0;}
to{opacity:1;}
}

.title{
font-size:40px;
background: linear-gradient(90deg,#ff4d6d,#ffb3c6);
-webkit-background-clip:text;
-webkit-text-fill-color:transparent;
}

.subtitle{
opacity:0.8;
margin-bottom:20px;
}

.box{
background: rgba(255,255,255,0.06);
margin:20px;
padding:20px;
border-radius:20px;
box-shadow:0 0 15px rgba(255,192,203,0.2);
backdrop-filter: blur(8px);
}

.gallery{
display:flex;
flex-wrap:wrap;
justify-content:center;
gap:10px;
}

.gallery img{
width:120px;
height:120px;
object-fit:cover;
border-radius:15px;
transition:0.3s;
}

.gallery img:hover{
transform:scale(1.1);
box-shadow:0 0 10px pink;
}

/* PETALS */
.petal{
position:fixed;
top:-10px;
font-size:20px;
pointer-events:none;
animation: fall linear forwards;
}

@keyframes fall{
to{
transform:translateY(110vh) rotate(360deg);
opacity:0;
}
}
button{
margin:10px;
padding:10px 18px;
border:none;
border-radius:10px;
background:#ff4d6d;
color:white;
cursor:pointer;
transition:0.3s;
}

button:hover{
transform:scale(1.05);
}

audio{
display:none;
}
.heart{
position:fixed;
font-size:24px;
pointer-events:none;
animation:heartFly 2s linear forwards;
z-index:9999;
}

@keyframes heartFly{
0%{
opacity:1;
transform:translateY(0) scale(1);
}
100%{
opacity:0;
transform:translateY(-250px) scale(2);
}
}
.moon{
position:fixed;
top:40px;
right:40px;
width:120px;
height:120px;
border-radius:50%;
background:#fff7cc;
box-shadow:
0 0 30px #fff7cc,
0 0 60px #fff7cc,
0 0 100px rgba(255,247,204,0.6);
z-index:-1;
animation:moonGlow 4s ease-in-out infinite;
}

@keyframes moonGlow{
0%,100%{
transform:scale(1);
}
50%{
transform:scale(1.08);
}
}
